.featured-jobs {
  margin-bottom: 5em;
  &__title {
    margin-bottom: 1.15em;
    text-align: center;
    @include mobile-min {
      background-color: $primary-1;
    }
  }
  &__grid {
    @include grid;
  }
  &__item {
    @include flex-all-sb;
    @include mb(2.3em);
    grid-column: 12 span;
    padding: 2.4em 1.8em;
    border-radius: $radius;
    background-color: $neutrals-1;
    box-shadow: $shadow-1;
    @include small-tablet {
      grid-column: span 6;
      padding: 1.4em 0.8em;
    }

    @include mobile-min {
      flex-direction: column;
      gap: 3em
    }
  }
  &__job {
    @include p(20px, 30px);
  }
  &__work {
    position: relative;
    padding-right: 3em;
    @include small-tablet {
      padding-right: 2em;
    }

    &::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      background-image: url("../img/svg/location_02.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__btns {
    @include small-tablet {
      display: flex;
      flex-direction: column;
    }
  }
}
