.feedback {
  margin-bottom: 5em;

  &__title {
    margin-bottom: 2em;
    text-align: center;
  }
  &__container {
    @include flex-all-sb;

    border-radius: 20px;
    background-color: $neutrals-1;
    box-shadow: $shadow-1;
    &--item {
      overflow: hidden;
      margin-right: 4em;
    }
    &--item1 {
      @include small-tablet {
        display: none;
      }
    }
    &--item2 {
      position: relative;
      width: 600px;
      &--flex {
        @include flex-all-sb;
      }
    }
    &__block {
      margin: 3.8em 0 0 2em;
      background-color: $primary-1;
      width: 385px;
      height: 385px;
      border-radius: 20px 20px 0 0;

      &--pic {
        margin-top: -4em;
      }
    }
    &__quotes {
      padding: 3.1em 2.1em;
      &:first-child {
        margin-left: 2em;
      }
      &--text {
        @include p(18px, 32px);

        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 47px;
          height: 47px;
          background-image: url("../img/svg/quote_left.svg");
          background-repeat: no-repeat;
          background-position: center;
          left: -3em;
          top: -2em;
          cursor: pointer;
        }
      }
      &--author {
        margin-top: 1em;
        text-align: left;
        &--name {
          @include p-bold(16px, 23px);

          color: $primary-1;
        }
        &--job {
          @include p(12px, 17px);
        }
      }
    }
  }
}
.feedback__block {
  @include flex-all-center;
}
.feedback__slider-bt {
  @include bg-cover;

  width: 32px;
  height: 32px;
  margin-top: 0.8em;
  background-color: $primary-1;
  border-radius: 50%;
  &--prev {
    position: absolute;
    top: 14em;
    left: 1em;
    background-image: url("../img/svg/arrow-left.svg");
  }

  &--next {
    position: absolute;
    top: 14em;
    right: 0;
    background-image: url("../img/svg/arrow-right.svg");
  }
}
