.log-btns {
  @include flex-all-center;
  @include small-tablet {
    width: 100%;
    display: flex;
    margin: auto 0.8em 0;
  }
  &__signin {
    @include p(16px, 24px);
    margin-right: 3.8em;
    padding: 0.6em 0;
    @include small-tablet {
      margin: 0 1em;
      padding: 0.6em 1.8em;
      flex-basis: calc(50% - 2em);
      background-color: $primary-1;
      border-radius: $radius;
      color: $neutrals-1;
      font-family: $Poppins-Regular;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 0.6em 1.8em;
    }
  }

  &__signup {
    margin: 0;
    padding: 0.6em 1.8em;
    background-color: $neutrals-4;
    border-radius: $radius;
    color: $neutrals-1;
    font-family: $Poppins-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @include small-tablet {
      margin: 0 1em;
      flex-basis: calc(50% - 2em);
      background-color: $primary-1;
    }
  }
}
