.modal-1 {
  padding: 17em;
  border-radius: $radius;
  background-color: $neutrals-1;
  @include small-tablet {
    padding: 6em;
  }

  &__flex {
    @include flex-all-center;
  }

  &__title {
    text-align: center;
    color: $primary-1;
  }
}
.modal-2 {
  padding: 17em;
  border-radius: $radius;
  background-color: $neutrals-1;
  @include small-tablet {
    padding: 6em;
  }

  &__flex {
    @include flex-all-center;
  }

  &__title {
    text-align: center;
    color: $primary-1;
  }
}
.graph-modal__close {
  right: 2em;
  top: 1.5em;
  width: 25px;
  height: 25px;
  background-image: url('../img/svg/close.svg');
  background-repeat: no-repeat;
}
