.reset-password {
  background-color: var(--neutrals-7);
  margin-top: 4em;

  &__head {
    @include flex-all-sb;

    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7em;

    &__link {
      @include flex-v-center;

      &--title {
        padding-left: 0.4em;
      }
    }
  }

  &__link {
    &--sign-up {
      color: $neutrals-4;
      transition: 0.3s;
      &:hover {
        color: $primary-1;
      }
    }
  }

  &__text {
    margin-bottom: 2em;

    &--title {
      margin-bottom: 0.4em;
    }

    &--help {
      opacity: 70%;
    }
  }

  &__form {
    width: 100%;
    &-email {
      @include p(14px, 18px);

      width: 100%;
      margin-bottom: 2em;
      padding: 1.5em;
      border: 1px solid $neutrals-3;
      border-radius: 90px;
      background-color: $neutrals-1;
    }
  }
  &_note {
    margin-bottom: 1em;
    &--text {
      @include p(14px, 16px);

      color: rgba(255, 20, 20, 0.897);
    }
  }

  &__continue {
    width: 100%;

    &--btn {
      @include p(14px, 18px);

      width: 100%;
      padding: 1.4em;
      background-color: $primary-1;
      border-radius: 90px;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-2;
      }
    }
  }
}

.reset-password-wrapper {
  @include flex-all-center;

  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
