.search_block {
  @include flex-all-center;
  z-index: 1;

  @include mobile {
    padding-bottom: 3em;
  }
}
.search-section {
  @include flex-all-sb;

  margin-top: -3em;
  margin-bottom: 7em;
  padding: 0.8em 2.3em 1.25em 3.3em;
  width: fit-content;
  border-radius: 20px;
  background-color: $neutrals-1;
  box-shadow: $shadow-1;
  z-index: 1;

  @include small-tablet {
    max-width: 600px;
    padding: 0.8em;
  }
  @include mobile {
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin: 0;
  }

  &__block {
    @include mr(3em);
    @include small-tablet {
      @include mr(0);
    }

    &--btn {
      @include p-bold(18px, 36px);

      position: relative;
      padding: 0.8em 3em 0.5em 1.4em;
      border-radius: $radius;
      background-color: $primary-1;
      color: $neutrals-1;
      text-transform: uppercase;
      &::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        background-image: url("../img/svg/search-btn.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  &__title {
    @include p-bold(18px, 36px);
  }
  &__select {
    @include p(16px, 36px);
    position: relative;
    background-color: transparent;
    color: $neutrals-2;

    &:after {
      content: "";
      position: absolute;
      width: 13px;
      height: 16px;
      background-image: url("../img/svg/location_01.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__choose {
    @include p(16px, 36px);
    position: relative;
    background-color: transparent;
    color: $neutrals-2;

    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 8px;
      background-image: url("../img/svg/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
