.subscibe {
  margin-bottom: 5em;

  @include mobile {
    margin-bottom: 2em;
  }
  &__container {
    @include grid;

    border-radius: 35px;
    background-color: $primary-1;
    text-align: center;

    @include mobile {
      padding: 1em;
    }
  }

  &__title {
    grid-column: 4 / span 6;
    padding-top: 1.9em;
    padding-bottom: 0.8em;
    @include small-tablet {
      grid-column: span 6;
    }
    @include mobile {
      padding-top: 0.9em;
    }
  }

  &__text {
    @include p(18px, 27px);

    grid-column: 4 / span 6;
    padding-bottom: 9em;
    color: $neutrals-1;
    letter-spacing: 0.01em;
    @include small-tablet {
      grid-column: span 6;
    }
    @include mobile {
      padding-bottom: 6em;
    }
  }
}
