<div class="about">
  <div class="wrapper">
    <div class="about__grid">
      <p class="about__info">Our approach is rooted in a deep understanding of your needs. We support you with tools, expert guidance, and tailored resources, then connect you with a top-rated OJO Network Agent, so you’re confident and equipped for each step.</p>
      <div class="about__btns">
        <a href="#" class="about__btns--btn">ABOUT US</a>
      </div>
    </div>
  </div>
  <img src="../img/svg/ellipse_2.svg" class="about__ellipse--01" width="193" height="187" alt="ellipse">
  <img src="../img/svg/ellipse_2.svg" class="about__ellipse--02" width="193" height="187" alt="ellipse">
</div>
