<div class="employees">
  <div class="wrapper">
    <h3 class="employees__title">6500+ Employees in our network</h3>
    <div class="employees__flex">
      <div class="employees__flex--item">
        <img
          src="../img/kaiser.png"
          class="employees__flex--item--pic"
          width="312"
          height="72"
          alt="kaiser"
        />
      </div>
      <div class="employees__flex--item">
        <img
          src="../img/HCA_healthcare.png"
          class="employees__flex--item--pic"
          width="312"
          height="72"
          alt="HCA_healthcare"
        />
      </div>
      <div class="employees__flex--item">
        <img
          src="../img/banner-health.png"
          class="employees__flex--item--pic"
          width="312"
          height="72"
          alt="banner-health"
        />
      </div>
      <div class="employees__flex--item">
        <img
          src="../img/HCA_healthcare.png"
          class="employees__flex--item--pic"
          width="312"
          height="72"
          alt="HCA_healthcare"
        />
      </div>
      <div class="employees__flex--item">
        <img
          src="../img/stanford.png"
          class="employees__flex--item--pic"
          width="312"
          height="72"
          alt="stanford"
        />
      </div>
      <div class="employees__flex--item">
        <img
          src="../img/providence.png"
          class="employees__flex--item--pic"
          width="312"
          height="72"
          alt="providence"
        />
      </div>
    </div>
  </div>
</div>
