<div class="featured-jobs">
  <div class="wrapper">
    <h3 class="featured-jobs__title">Featured jobs</h3>
    <div class="featured-jobs__grid">
      <div class="featured-jobs__item">
        <p class="featured-jobs__job">Dental hygienist</p>
        <p class="featured-jobs__work">work remotely</p>
        <div class="featured-jobs__btns">
          <button
            class="btn-reset btn_apply"
            data-graph-path="apply"
          >
            APPLY NOW
          </button>
          <button
            class="btn-reset btn_details"
            data-graph-path="details"
          >
            DETAILS
          </button>
        </div>
      </div>
      <div class="featured-jobs__item">
        <p class="featured-jobs__job">Dental hygienist</p>
        <p class="featured-jobs__work">work remotely</p>
        <div class="featured-jobs__btns">
          <button
            class="btn-reset btn_apply"
            data-graph-path="apply"
          >
            APPLY NOW
          </button>
          <button
            class="btn-reset btn_details"
            data-graph-path="details"
          >
            DETAILS
          </button>
        </div>
      </div>
      <div class="featured-jobs__item">
        <p class="featured-jobs__job">Dental hygienist</p>
        <p class="featured-jobs__work">work remotely</p>
        <div class="featured-jobs__btns">
          <button
            class="btn-reset btn_apply"
            data-graph-path="apply"
          >
            APPLY NOW
          </button>
          <button
            class="btn-reset btn_details"
            data-graph-path="details"
          >
            DETAILS
          </button>
        </div>
      </div>
      <div class="featured-jobs__item">
        <p class="featured-jobs__job">Dental hygienist</p>
        <p class="featured-jobs__work">work remotely</p>
        <div class="featured-jobs__btns">
          <button
            class="btn-reset btn_apply"
            data-graph-path="apply"
          >
            APPLY NOW
          </button>
          <button
            class="btn-reset btn_details"
            data-graph-path="details"
          >
            DETAILS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
