<div class="feedback">
  <div class="wrapper">
    <h3 class="feedback__title">What people love to say about us</h3>
    <div class="feedback__container">
      <div class="feedback__container--item feedback__container--item1">
        <div class="feedback__container__block">
          <img
            src="../img/image_1.png"
            class="feedback__container__block--pic"
            width="437"
            height="511"
            alt=""
          />
        </div>
      </div>
      <div class="feedback__container--item feedback__container--item2">
        <div class="feedback__content">
          <div class="swiper-wrapper feedback__container--item2--flex">
            <div class="swiper-slide feedback__container__quotes">
              <p class="feedback__container__quotes--text">
                With the traditional resumes I used to apply for jobs and would
                get only a few calls. But after creating a video resume, I have
                got 9/10 calls. And I love the simplicity of the video creation
                process being a non techie.
              </p>
              <div class="feedback__container__quotes--author">
                <p class="feedback__container__quotes--author--name">
                  Linda Jermy
                </p>
                <p class="feedback__container__quotes--author--job">
                  Dental student
                </p>
              </div>
            </div>
            <div class="swiper-slide feedback__container__quotes">
              <p class="feedback__container__quotes--text">
                With the traditional resumes I used to apply for jobs and would
                get only a few calls. But after creating a video resume, I have
                got 9/10 calls. And I love the simplicity of the video creation
                process being a non techie.
              </p>
              <div class="feedback__container__quotes--author">
                <p class="feedback__container__quotes--author--name">
                  Linda Jermy
                </p>
                <p class="feedback__container__quotes--author--job">
                  Dental student
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="feedback__block">
          <div class="feedback__btns">
            <button
              class="btn-reset feedback__slider-bt feedback__slider-bt--prev"
              aria-label="Previous slide"
            ></button>
            <button
              class="btn-reset feedback__slider-bt feedback__slider-bt--next"
              aria-label="Next slide"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
