<!-- how it works - hiw next -->
<div class="hiw">
  <div class="wrapper-min">
    <h3 class="hiw__title">How it works</h3>
      <div class="hiw__content">
        <div class="hiw__block swiper-wrapper">
          <div class="swiper-slide hiw__block--item">
            <div class="hiw__block--square square-file"></div>
            <div class="hiw__block__text">
              <p class="hiw__block__text--title">Create a resume</p>
              <p class="hiw__block__text--description">
                Add your personal info,<br>work story data of experience etc.
              </p>
            </div>
          </div>
          <div class="swiper-slide hiw__block--item">
            <div class="hiw__block--square square-loop"></div>
            <div class="hiw__block__text">
              <p class="hiw__block__text--title">Search</p>
              <p class="hiw__block__text--description">As per location</p>
            </div>
          </div>
          <div class="swiper-slide hiw__block--item">
            <div class="hiw__block--square square-apply"></div>
            <div class="hiw__block__text">
              <p class="hiw__block__text--title">Apply & Be selected</p>
              <p class="hiw__block__text--description">
                if criteria match then<br>apply & recruites let you know
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="hiw__container">
        <div class="hiw__btns">
          <button class="btn-reset hiw__slider-btn hiw__slider-btn--prev" aria-label="Previous slide"></button>
          <button class="btn-reset hiw__slider-btn hiw__slider-btn--next" aria-label="Next slide"></button>
        </div>
      </div>
    </div>
  </div>
</div>
