<div class="intro">
  <div class="wrapper">
    <div class="intro_block">
      <div class="intro_block__text">
        <h1 class="intro_block--title">PERFECT ROLE IS AWATING!</h1>
        <p class="intro_block--text">No 1 job portal site for dentist</p>
        <a href="#" class="intro_block--btn1">Create resume</a>
        <a href="#" class="intro_block--btn2">Watch Demo</a>
      </div>
      <div class="intro_block__image">
        <img src="../img/svg/banner.svg" width="380" height="502" alt="human">
      </div>
    </div>
    <div class="search_block">
      <section class="search-section">
        <div class="search-section__block">
          <p class="search-section__title">Location</p>
          <p class="search-section__select">Select Your City</p>
        </div>
        <div class="search-section__block">
          <p class="search-section__title">Title</p>
          <p class="search-section__choose">Choose job role</p>
        </div>
        <div class="search-section__block">
          <button type="button" class="btn-reset search-section__block--btn">Search</button>
        </div>
      </section>
    </div>
  </div>
  <img src="../img/svg/ellipse_1.svg" class="intro__ellipse--01" width="245px" height="237px" alt="ellipse">
  <img src="../img/svg/ellipse_1.svg" class="intro__ellipse--02" width="245px" height="237px" alt="ellipse">
</div>
