<div class="intro">
  <div class="wrapper">
    <div class="intro_block">
      <div class="intro_block__text">
        <h1 class="intro_block--title">PERFECT ROLE IS AWATING!</h1>
        <p class="intro_block--text">No 1 job portal site for dentist</p>
        <button class="btn-reset intro_block--btn1" data-graph-path="resume">Create resume</button>
        <button class="btn-reset intro_block--btn2" data-graph-path="watch">Watch Demo</button>
      </div>
      <div class="intro_block__image">
        <img src="../img/svg/banner.svg" width="380" height="502" alt="human">
      </div>
    </div>
    <div class="search_block">
      <section class="search-section">
        <div class="search-section__block">
          <p class="search-section__title">Location</p>
          <input class="input-reset search-section__select" type="text" name="city" list="cityname" placeholder="Select Your City">
          <datalist id="cityname">
            <option value="Boston">
            <option value="Cambridge">
            <option value="New York">
          </datalist>
        </div>
        <div class="search-section__block">
          <p class="search-section__title">Title</p>
          <input class="input-reset search-section__choose" type="text" name="job" list="role" placeholder="Choose job role">
          <datalist id="role">
            <option value="Doctor">
            <option value="Student">
            <option value="Dental">
          </datalist>
        </div>
        <div class="search-section__block">
          <button type="button" class="btn-reset search-section__block--btn">Search</button>
        </div>
      </section>
    </div>
  </div>
</div>
