<div class="intro">
  <div class="wrapper">
    <div class="intro_block">
      <div class="intro_block--text">
        <h1 class="intro_block--text-title">PERFECT ROLE IS AWATING!</h1>
        <p class="intro_block--text-description">No 1 job portal site for dentist</p>
        <div class="intro_block--btns">
          <button class="btn-reset btn_create-resume" data-graph-path="resume">
            Create resume
          </button>
          <button class="btn-reset btn_watch-demo" data-graph-path="watch">
            Watch Demo
          </button>
        </div>
      </div>
      <div class="intro_block--image">
        <img src="../img/svg/banner.svg" width="380" height="502" alt="human" />
      </div>
    </div>
    <div class="search_block">
      <section class="search-section">
        <div class="search-section__block">
          <p class="search-section__title">Location</p>
          <input
            class="input-reset search-section__select"
            type="text"
            name="city"
            list="cityname"
            placeholder="Select Your City"
          />
          <datalist id="cityname">
            <option value="Boston"></option>
            <option value="Cambridge"></option>
            <option value="New York"></option>
            <option value="Minsk"></option>
          </datalist>
        </div>
        <div class="search-section__block">
          <p class="search-section__title">Title</p>
          <input
            class="input-reset search-section__choose"
            type="text"
            name="job"
            list="role"
            placeholder="Choose job role"
          />
          <datalist id="role">
            <option value="Doctor"></option>
            <option value="Student"></option>
            <option value="Dental"></option>
          </datalist>
        </div>
        <div class="search-section__block">
          <button type="button" class="btn-reset btn_search">
            Search
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
