<div class="login-block">
  <div class="login-block__logo">
    <a href="index.html">
      <img src="../img/svg/logo.svg" width="32" height="32" alt="logo" />
    </a>
  </div>
  <div class="login-wrapper">
    <div class="login-form">
      <h3>Login to Dental Career</h3>
    </div>
    <div class="login-email">
      <input
        class="login-email__email"
        autocomplete="on"
        placeholder="email"
        type="text"
        maxlength
      />
    </div>
    <div class="login-password">
      <input
        class="login-password__password"
        autocomplete="on"
        placeholder="password"
        type="password"
      />
    </div>
    <div class="login-button">
      <button class="login-button__btn btn-reset" value="Login">Log In</button>
    </div>
    <div class="reset-password">
      <a href="reset-password.html" class="reset-password__link"
        >Reset Password</a
      >
    </div>
  </div>
</div>
