<div class="graph-modal">
  <div class="graph-modal__container modal-1" role="dialog" aria-modal="true" data-graph-target="resume">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal-1__flex">
      <h1 class="modal-1__title">Modal window</h1>
    </div>
  </div>
  <div class="graph-modal__container modal-2" role="dialog" aria-modal="true" data-graph-target="watch">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content  modal-2__flex">
      <h1 class="modal-2__title">Modal window</h1>
    </div>
  </div>
</div>

