<div class="graph-modal">
  <div
    class="graph-modal__container modal-1"
    role="dialog"
    aria-modal="true"
    data-graph-target="resume"
  >
    <button
      class="btn-reset graph-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-1__flex">
      <h1 class="modal-1__title">Modal window</h1>
    </div>
  </div>
  <div
    class="graph-modal__container modal-2"
    role="dialog"
    aria-modal="true"
    data-graph-target="watch"
  >
    <button
      class="btn-reset graph-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-2__flex">
      <h1 class="modal-2__title">Modal window</h1>
    </div>
  </div>
  <div
    class="graph-modal__container modal-3"
    role="dialog"
    aria-modal="true"
    data-graph-target="apply"
  >
    <button
      class="btn-reset graph-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-3__flex">
      <h1 class="modal-3__title">Modal window</h1>
    </div>
  </div>
  <div
    class="graph-modal__container modal-4"
    role="dialog"
    aria-modal="true"
    data-graph-target="details"
  >
    <button
      class="btn-reset graph-modal__close js-modal-close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-4__flex">
      <h1 class="modal-4__title">Modal window</h1>
    </div>
  </div>
</div>
