<div class="subscibe">
  <div class="wrapper">
    <div class="subscibe__container">
      <h2 class="subscibe__title">Subscibe to Our Newsletter</h2>
      <p class="subscibe__text">
        Get weekly update about our product on your email, no spam guaranteed we
        promise ✌️
      </p>
    </div>
    <div class="subscibe__section">
      <section class="email-section">
        <div class="email-section__input">
          <input
            class="email-section__input--el"
            autocomplete="on"
            placeholder="youremail@gmail.com"
            type="text"
            maxlength
          />
        </div>
        <div class="email-section__btn">
          <button class="email-section__btn--el btn-reset" value="Subscribe">
            SUBSCRIBE
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
