// fonts
$Poppins-Regular: "Poppins-Regular";
$Poppins-Medium: "Poppins-Medium";
$Poppins-SemiBold: "Poppins-SemiBold";

// colors
$neutrals-0: #EFEFEF;
$neutrals-1: #F1F1F1;
$neutrals-2: #8F90A6;
$neutrals-3: #333333;
$neutrals-4: #272727;
$neutrals-5: #010D82;
$primary-1: #28C6BC;
$primary-2: #28c6bba6;
$shadow-1: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
